---
layout: default
image: /images/fulls/01.jpg
---

<section id="one">
    <header class="major">
      <h2>About Me</h2>
    </header>
    <p>
      <font size="4px">
      I am currently a research scientist at ByteDance working on multi-modal foundation modal research. 
      <br> 
      My research interests include Computer Vision, Multi-Modality Learning, Source-Free Domain Adaptation and Representation Learning.
      I obtained my Ph.D. degree from <a href="https://www.usc.edu/" target="_blank"><span class="label">the University of South California</span></a>, under advisement of <a href="https://sites.usc.edu/iris-cvlab/" target="_blank"><span class="label">Prof. Ram Nevatia</span></a>.<br> 
      I obtained my Master degree from 
      <a href="https://www.columbia.edu/" target="_blank"><span class="label">the Columbia University in the city of New York.</span></a> and Bachelor degrees from both 
      <a href="https://www.umich.edu/" target="_blank"><span class="label">the University of Michigan, Ann Arbor</span></a> and 
      <a href="http://en.sjtu.edu.cn/" target="_blank"><span class="label">the Shanghai Jiao Tong University</span></a>, and 
      
      My <a href="/resources/XuefengCV.pdf" target="_blank">Curriculum Vitae</a> (Updated January 2024), and <a href="https://scholar.google.com/citations?user=Ee616UkAAAAJ&hl=en&oi=ao" target="_blank">Google Scholar</a>
      <br><br> <b>News (Jan 23rd 2023):</b> I have completed my dissertation defense and graduated from USC!
      <br><br> <b>News (Jan 4th 2023):</b> Our paper <a href="https://arxiv.org/abs/2308.03793" target="_blank">ReCLIP: Refine Contrastive Language Image Pre-Training with Source Free Domain Adaptation
</a> is selected in the WACV 2024 best paper finallist! 
      </font>
    </p>
    <!--<h2><a href="/sections/Projects.html">Projects</a></h2>-->
    <!--<h2><a href="/sections/Publications.html">Publications</a></h2>-->
    <h2><a href="/sections/MoreFacts.html">Miscellaneous</a></h2>
  </section>

<section>
<header class="major">
      <h1>Blog</h1>
      <h4>As you set out for Ithaka, hope the voyage is a long one. <br>
      <a href="http://www.cavafy.com/poems/content.asp?id=74">[<I>Ithaka</I>, C.P. Cavafy]</a></h4>
</header>
<br>
  
<br>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
    <p>
      <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
    </p>

    <div>
      {{ post.excerpt }}
    </div>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
{% endfor %}
</section>


{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}
